extends layout

block content
    if posts
        for post in posts
            p
             h2
               a(href='#')= post.title
            p.info  
              | Author:
              a(href='#')= post.name
              | Time:
              #{post.time.minute}
           
            p= post.post
        
           
     
 
     
