extends layout

block content
  h1= title
  p Welcome to #{title} 
  #test #{name}
     if success
        p Registration succeeded!
     else
        p Get on it 
        
     label 
       | Username:
       input(name='user[name]')  
     
 
     
