doctype html 
html
  head
     title= title  
     link(rel='stylesheet', href='/stylesheets/style.css' )
  body  
     div
        form(method='post')
           div 
              label(for='email') Email:
              input(id='email', type='text', value='', name='email')
           div
              label(for='password') Password:
              input(id='password', type='password', value='', name='password')
           div
              input(type='submit', value='Sign up', data-transition='fade')