div#top
   div 
       div#loginSection.pullRight 
          ul
            li 
              a(href="/login") Login 
            li 
              a(href="/register") Register  
   div.menu
      ul
        li
          a(href="/") Home
        li 
          a(href="/") Search
        li
          a(href="/") Administration